.sidenav-column{
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidenav ul li {
    list-style-type: none;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    padding: 0.5rem 1rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

